{% extends 'activities.html.twig' %}
{% block masthead %}
    <header class="masthead">
        <div class="container">
            <img src="/uploads/images/{{ athlete.image }}" class="rounded-circle" alt="{{ athlete.nom }}" style="height: 30% ; width: 20%" >
            <div class="masthead-heading text-uppercase">{{ athlete.nom }} {{ athlete.prenom }}</div>
        </div>
    </header>
{% endblock %}
{% block body %}
 <section class="page-section bg-light" id="portfolio">
 <div class="container">
 <div class="text-center">
  <h2 class="section-heading text-uppercase">Articles</h2>
 </div>

     <a href="{{ path('article_new', {'id': app.user.id}) }}">Create new</a>  <div class="row">
  {% for articles in article %}
 <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
   <div class="portfolio-item">
      <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ articles.id }}">
        <div class="portfolio-hover">
           <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
        </div>
      <img class="card-img-top" src="/uploads/images/{{ articles.image }}" alt="Card image" style="width:100%">
      </a>
      <div class="portfolio-caption">
         <div class="portfolio-caption-heading">{{ articles.nom }}</div>
      </div>
  </div>
 </div>


 <div class="portfolio-modal modal fade" id="portfolioModal{{ articles.id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
   <div class="modal-content">
    <div class="close-modal" data-dismiss="modal"><img src="/client/assets/img/close-icon.svg" alt="Close modal" /></div>
    <div class="container">
     <div class="row justify-content-center">
      <div class="col-lg-8">
       <div class="modal-body">
        <!-- Project Details Go Here-->
        <h2 class="text-uppercase">{{ articles.nom }}</h2>
        <p class="item-intro text-muted">{{ articles.id }}</p>
        <img class="img-fluid d-block mx-auto" src="/uploads/images/{{ articles.image }}" alt="" />
        <p>{{ articles.description }}</p>

        <a class="btn btn-primary"href="  {{ path('article_edit', {'id': articles.id}) }}">
         <i class="fas fa-times mr-1"></i>

         Close Project
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>


{% endfor %}
  </div>
 </div>
 </section>
{% endblock %}