{% extends 'base.html.twig' %}

{% block title %}Athlete{% endblock %}

{% block body %}
    <h1>Athlete</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ athlete.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ athlete.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ athlete.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ athlete.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('athlete_index') }}">back to list</a>

    <a href="{{ path('athlete_edit', {'id': athlete.id}) }}">edit</a>

    {{ include('athlete/_delete_form.html.twig') }}
{% endblock %}
